html {
    background: #131212;
}

#app {
    display: grid;
    height: inherit;
    padding: 10px;
    background: #131212;
}

.grid-container {
    display: grid;
    grid-template-rows: 50px repeat(33, minmax(50px, 0.025fr));
    grid-template-columns: 70px repeat(4, minmax(50px, 0.25fr));
    grid-gap: 10px;
}

.grid-container>div {
    background: #191818;
}

.header1 {
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: grid;
}

.banner_wrapper {
    font-size: 10px !important;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white !important;
}

.banner_title {
    padding: 0 !important
}

.header2 {
    grid-column: 2/-1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper_estado {
    height: 100%;
    width: 100%;
    display: flex;
}

.item_group_estado {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.estado_fit {
    height: 100%;
    width: 100% !important;
    margin: 0 !important;
    display: flex !important;
    flex-direction: row !important;
}

.estado_content {
    width: 50%;
}

.ui.items:not(.unstackable)>.item>.image, .ui.items:not(.unstackable)>.item>.image>img {
    width: 30% !important;
}

.estado_header {
    height: 100%;
    color: white !important;
    width: 100%;
    justify-content: center;
    display: grid !important;
    align-content: center;
    font-size: 15px !important;
}

.estado_color_green {
    background: rgb(53, 231, 18) !important;
    width: 30% !important;
    height: 100% !important;
}

.estado_color_red {
    background: red !important;
    width: 30% !important;
    height: 100% !important;
}

.estado_color_white {
    background: white !important;
    width: 30% !important;
    height: 100% !important;
}

.estado_color_yellow {
    background: yellow !important;
    width: 30% !important;
    height: 100% !important;
}

.estado_color_orange {
    background: orange !important;
    width: 30% !important;
    height: 100% !important;
}

.header3 {
    grid-column: 1/-1;
    grid-row: 2;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper_fecha {
    width: inherit;
    height: 100%;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fecha_h4 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 15px !important;
    color: white;
    margin: 0 !important;

}

.fecha_header {
    color: white;
}

.wrapper_fecha_content {
    display: flex;
    justify-content: space-evenly;
}

.header4 {
    grid-column: 1/-1;
    grid-row: 3;
    color: white;
}

.empresas_menuitem{
    font-size: 10px;
    width: 20%;
}

.menu1_symbol, .menu2_symbol, .menu3_symbol, .menu4_symbol, .menu8_symbol, .menu10_symbol, .menu11_symbol {
    width: inherit;
    justify-items: center;
    height: 100%;
    justify-content: space-around;
}

.number_font {
    /*font-size: 3rem !important;*/
}


.more_details_button, #more_details_button1 {
    color: yellow !important;
    font-size: smaller !important;
}

#more_details_button2 {
    color: rgb(0, 214, 0) !important;
    font-size: smaller !important;
}

#more_details_button3 {
    color: rgb(248, 66, 193) !important;
    font-size: smaller !important;
}

#more_details_button4 {
    color: rgb(0, 174, 255) !important;
    font-size: smaller !important;
}

#more_details_button5 {
    color: orange !important;
    font-size: smaller !important;
}

#more_details_button6 {
    color: violet !important;
    font-size: smaller !important;
}

#more_details_button7 {
    color: red !important;
    font-size: smaller !important;
}

#more_details_button8 {
    color: olivedrab !important;
    font-size: smaller !important;
}


.menu1 {
    grid-row: 8/10;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
}

.menu2 {
    grid-row: 8/10;
    grid-column: 4/-1;
    width: 100%;
    height: 100%;
}

.menu3 {
    grid-row: 10/12;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
}

.menu4 {
    grid-row: 10/12;
    grid-column: 4/-1;
    width: 100%;
    height: 100%;
}



.mapp {
    grid-row: 4/8;
    grid-column:1/-1;
}

#map {
    height: 100%;
}

/*Tabla no se muestra en vertical, si en horizontal (hacer)*/
.menu7 {
    display: none;
}


.menu17 {
    grid-row: 12/13;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}

.menu6 {
    grid-row: 13/15;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}

.menu8 {
    grid-row: 15/17;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}


.menu9 {
    grid-row: 17/19;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}

.menu10 {
    grid-row: 19/21;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}

.menu11 {
    grid-row: 21/23;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}


.menu18 {
    grid-row: 23/24;
    grid-column:1/-1;
    width: 100%;
    height: 100%;
}



.menu12 {
    grid-row: 24/26;
    grid-column:3/-1;
    width: 100%;
    height: 100%;
}

.menu14 {
    grid-row: 24/26;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
}

.menu5 {
    grid-row: 26/28;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
}

.menu13 {
    grid-row: 26/28;
    grid-column: 4/6;
    width: 100%;
    height: 100%;
}

.menu15 {
    grid-row: 28/30;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}


.menu16 {
    grid-row: 24/26;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
}

.menu19 {
    grid-row: 30/32;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
}

.menu20 {
    grid-row: 30/32;
    grid-column: 3/-1;
    width: 100%;
    height: 100%;
}

.menu21 {
    grid-row: 32/34;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}

.banner_clientes , .banner_comunas{
    display: flex;
    flex-direction: row;
}


.clientes_title, .clientes_icon, .comunas_title, .comunas_icon{
    font-size: initial;
}


.ReactTable {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ReactTable * {
    box-sizing: border-box
}

.ReactTable .rt-table {
    -webkit-box-flex: 1;
    -ms-flex: auto 1;
    flex: auto 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    overflow: auto
}

.ReactTable .rt-thead {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ReactTable .rt-thead.-headerGroups {
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.ReactTable .rt-thead.-filters {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 3px;
    font-weight: normal;
    outline: none
}

.ReactTable .rt-thead.-filters .rt-th {
    border-right: 1px solid rgba(0, 0, 0, 0.02)
}

.ReactTable .rt-thead.-header {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15)
}

.ReactTable .rt-thead .rt-tr {
    text-align: center
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    padding: 5px 5px;
    line-height: normal;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    transition: box-shadow .3s cubic-bezier(.175, .885, .32, 1.275);
    box-shadow: inset 0 0 0 0 transparent;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.6)
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.6)
}

.ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer {
    cursor: pointer
}

.ReactTable .rt-thead .rt-th:last-child, .ReactTable .rt-thead .rt-td:last-child {
    border-right: 0
}

.ReactTable .rt-thead .rt-resizable-header {
    overflow: visible;
}

.ReactTable .rt-thead .rt-resizable-header:last-child {
    overflow: hidden
}

.ReactTable .rt-thead .rt-resizable-header-content {
    overflow: hidden;
    text-overflow: ellipsis
}

.ReactTable .rt-thead .rt-header-pivot {
    border-right-color: #f7f7f7
}

.ReactTable .rt-thead .rt-header-pivot:after, .ReactTable .rt-thead .rt-header-pivot:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.ReactTable .rt-thead .rt-header-pivot:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 8px;
    margin-top: -8px
}

.ReactTable .rt-thead .rt-header-pivot:before {
    border-color: rgba(102, 102, 102, 0);
    border-left-color: #f7f7f7;
    border-width: 10px;
    margin-top: -10px
}

.ReactTable .rt-tbody {
    -webkit-box-flex: 99999;
    -ms-flex: 99999 1 auto;
    flex: 99999 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
}

.ReactTable .rt-tbody .rt-tr-group {
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-tbody .rt-tr-group:last-child {
    border-bottom: 0
}

.ReactTable .rt-tbody .rt-td {
    border-right: 1px solid rgba(0, 0, 0, 0.02);
}

.ReactTable .rt-tbody .rt-td:last-child {
    border-right: 0
}

.ReactTable .rt-tbody .rt-expandable {
    cursor: pointer
}

.ReactTable .rt-tr-group {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.ReactTable .rt-tr {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.ReactTable .rt-th, .ReactTable .rt-td {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 5px;
    overflow: hidden;
    transition: .3s ease;
    transition-property: width, min-width, padding, opacity;
}

.ReactTable .rt-th.-hidden, .ReactTable .rt-td.-hidden {
    width: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    opacity: 0 !important
}

.ReactTable .rt-expander {
    display: inline-block;
    position: relative;
    margin: 0;
    color: transparent;
    margin: 0 10px;
}

.ReactTable .rt-expander:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    border-left: 5.04px solid transparent;
    border-right: 5.04px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 0.8);
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    cursor: pointer
}

.ReactTable .rt-expander.-open:after {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0)
}

.ReactTable .rt-resizer {
    display: inline-block;
    position: absolute;
    width: 36px;
    top: 0;
    bottom: 0;
    right: -18px;
    cursor: col-resize;
    z-index: 10
}

.ReactTable .rt-tfoot {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.ReactTable .rt-tfoot .rt-td {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-tfoot .rt-td:last-child {
    border-right: 0
}

.ReactTable.-striped .rt-tr.-odd {
    background: rgba(0, 0, 0, 0.03)
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: rgba(0, 0, 0, 0.05)
}

.ReactTable .-pagination {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.ReactTable .-pagination input, .ReactTable .-pagination select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 3px;
    font-weight: normal;
    outline: none
}

.ReactTable .-pagination .-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 3px;
    padding: 6px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.1);
    transition: all .1s ease;
    cursor: pointer;
    outline: none;
}

.ReactTable .-pagination .-btn[disabled] {
    opacity: .5;
    cursor: default
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff
}

.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center
}

.ReactTable .-pagination .-center {
    -webkit-box-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
    text-align: center;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.ReactTable .-pagination .-pageInfo {
    display: inline-block;
    margin: 3px 10px;
    white-space: nowrap
}

.ReactTable .-pagination .-pageJump {
    display: inline-block;
}

.ReactTable .-pagination .-pageJump input {
    width: 70px;
    text-align: center
}

.ReactTable .-pagination .-pageSizeOptions {
    margin: 3px 10px
}

.ReactTable .rt-noData {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    transition: all .3s ease;
    z-index: 1;
    pointer-events: none;
    padding: 20px;
    color: rgba(0, 0, 0, 0.5)
}

.ReactTable .-loading {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    transition: all .3s ease;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.ReactTable .-loading>div {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-52%);
    transform: translateY(-52%);
    transition: all .3s cubic-bezier(.25, .46, .45, .94)
}

.ReactTable .-loading.-active {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
}

.ReactTable .-loading.-active>div {
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}

.ReactTable .rt-resizing .rt-th, .ReactTable .rt-resizing .rt-td {
    transition: none !important;
    cursor: col-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ReactTable {
    color: white;
    background: #131212;
}

.-previous, .-pagination, .-next {
    background: #3f3f3f;
}

.rt-thead {
    background: #3f3f3f;
}

@media screen and (min-width: 768px) and (max-width: 1440px){

    .ui.statistic > .label, .ui.statistics .statistic > .label{
        font-size: 12px;
    }
    .ui.small.statistic > .value, .ui.small.statistics .statistic > .value{
         font-size: 2rem !important;
    }
}


@media screen and (min-width: 1024px){

    .empresas_menuitem{
        font-size: 13px;
        width: 20%;
    }

    .menu7{
        display: grid;
    }

    html {
        background: #131212;
    }
    
    #app {
        display: grid;
        height: inherit;
        padding: 10px;
        background: #131212;
    }
    
    .grid-container {
        display: grid;
        grid-template-rows: 50px 9em repeat(4, minmax(125px, 1fr));
        grid-template-columns: repeat(14, minmax(50px, 0.20fr));
        grid-gap: 10px;
    }
    
    .grid-container>div {
        background: #191818;
    }
    
    /*Banner*/
    
    .header1 {
        grid-column: 1/2;
    }
    
    .banner_wrapper {
        font-size: 15px !important;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        display: flex;
        flex-direction: column;
        color: white !important;
    }
    
    .banner_title {
        padding: 0 !important
    }
    
    /*Estado*/
    
    .header2 {
        grid-column: 2/4;
    }
    
    
    .wrapper_estado {
        height: 100%;
    }
    
    .estado_fit {
        height: inherit;
    }
    
    .header2_wrapper {
        height: 100%;
    }
    
    .header2_menu {
        height: inherit;
    }
    
    .header2_menuitem {
        width: 20%;
        text-align: center;
        justify-content: center;
    }
    
    .estado_header {
        height: 100%;
        color: white !important;
        width: 100%;
        justify-content: center;
        display: grid !important;
        align-content: center;
        font-size: 15px !important;
    }
    
    .estado_color_green {
        background: rgb(53, 231, 18) !important;
    }
    
    .estado_color_red {
        background: red !important;
    }
    
    .estado_color_white {
        background: white !important;
    }
    
    .estado_color_yellow {
        background: yellow !important;
    }
    
    .estado_color_orange {
        background: orange !important;
    }
    
    /*Fecha.js*/
    
    .header3 {
        grid-column: 4/8;
        grid-row: 1;
        color: white;
    }
    
    .wrapper_fecha {
        width: inherit;
        height: 100%;
        align-content: center;
        display: grid;
    }
    
    .fecha_h4 {
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 15px !important;
        color: white;
    }
    
    .fecha_header {
        color: white;
    }
    
    .wrapper_fecha_content {
        display: flex;
        justify-content: space-evenly;
    }
    
    /*Empresas*/
    
    .header4 {
        grid-column: 8/13;
        grid-row: 1/2;
        color: white;
    }
    
    /*Menus*/
    
    .menu1_symbol, .menu2_symbol, .menu3_symbol, .menu4_symbol, .menu8_symbol, .menu10_symbol, .menu11_symbol {
        width: inherit;
        justify-items: center;
        height: 100%;
        justify-content: center;
        padding-top: 0.5em;
    }
    
    .number_font {
        font-size: 2.5rem !important;
    }
    
    .more_details_button, #more_details_button1 {
        color: yellow !important;
        font-size: smaller !important;
    }
    
    #more_details_button2 {
        color: rgb(0, 214, 0) !important;
        font-size: smaller !important;
    }
    
    #more_details_button3 {
        color: rgb(248, 66, 193) !important;
        font-size: smaller !important;
    }
    
    #more_details_button4 {
        color: rgb(0, 174, 255) !important;
        font-size: smaller !important;
    }
    
    #more_details_button5 {
        color: orange !important;
        font-size: smaller !important;
    }
    
    #more_details_button6 {
        color: violet !important;
        font-size: smaller !important;
    }
    
    #more_details_button7 {
        color: red !important;
        font-size: smaller !important;
    }
    
    #more_details_button8 {
        color: olivedrab !important;
        font-size: smaller !important;
    }
    
    /*Menu1: Ordenes*/
    
    .menu1 {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 100%;
        height: 100%;
    }
    
    /*Menu2: Ordenes Vencidas*/
    
    .menu2 {
        grid-row: 3/4;
        grid-column: 1/2;
        width: 100%;
        height: 100%;
    }
    
    /*Menu3: Ordenes Interrumpidas*/
    
    .menu3 {
        grid-row: 4/5;
        grid-column: 1/2;
        width: 100%;
        height: 100%;
    }
    
    /*Menu4: Ordenes ETR*/
    
    .menu4 {
        grid-row: 5/6;
        grid-column: 1/2;
        width: 100%;
        height: 100%;
    }
    
    /*Menu5: Electrodependientes*/
    
    .menu5 {
        grid-column: 14/15;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }
    
    /*Menu7: Tabla*/
    
    .menu7 {
        grid-column: 2/13;
        grid-row: 5/-1;
    }
    
    /*Menu6: Valparaíso*/
    
    .menu6 {
        grid-row: 2/3;
        grid-column: 13/14;
        width: 100%;
        height: 100%;
    }
    
    /*Menu8: Costa */
    
    .menu8 {
        grid-column: 13/14;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
    }
    
    /*Menu9: MargaMarga */
    
    .menu9 {
        grid-column: 13/14;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }
    
    /*Menu10: Quillota */
    
    .menu10 {
        grid-column: 13/14;
        grid-row: 5/6;
        width: 100%;
        height: 100%;
    }
    
    /*Menu11: LosAndes */
    
    .menu11 {
        grid-column: 13/14;
        grid-row: 6/7;
        width: 100%;
        height: 100%;
    }
    
    /*Menu12: GC */
    
    .menu12 {
        grid-column: 14/15;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
    }
    
    /*Agua Potable Rural*/
    
    .menu13 {
        grid-column: 14/15;
        grid-row: 5/6;
        width: 100%;
        height: 100%;
    }
    
    /*Clientes Criticos*/
    
    .menu14 {
        grid-column: 14/15;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
    }
    
    /*Autoridades*/
    
    .menu15 {
        grid-column: 14/15;
        grid-row: 6/7;
        width: 100%;
        height: 100%;
    }
    
    /*MovilesEnTurno*/
    
    .menu16 {
        grid-column: 1/2;
        grid-row: 6/7;
        width: 100%;
        height: 100%;
    }
    
    /*BannerComunas*/
    
    .menu17 {
        grid-column: 13/14;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
    }
    
    /*BannerClientes*/
    
    .menu18 {
        grid-column: 14/15;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
    }
    
    /*IncidenciasOSF*/
    
    .menu19 {
        grid-column: 12/13;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
    }
    
    /*BannerClientes*/
    
    .menu20 {
        grid-column: 12/13;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
    }
    
    /*BannerClientes*/
    
    .menu21 {
        grid-column: 12/13;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }
    
    /*Mapp*/
    
    .mapp {
        grid-column: 2/12;
        grid-row: 2/5;
    }
    
    #map {
        height: 100%;
    }
}


@media screen and (min-width: 1300px) and (max-width: 1400px) {
    .twitter-timeline {
        height: 270px !important;
    }
    /*Usados*/
    .text_statistics {
        font-size: 12px;
    }
    .grid-container {
        /*grid-template-rows: repeat(7, 0.163fr);*/
        /*grid-template-columns: repeat(13, 0.25fr);
        grid-template-rows: repeat(9, 0.25fr);
        */
        grid-template-rows: 50px 8em repeat(4, 7.5em);
        grid-template-columns: repeat(14, 0.25fr);
    }
    /*Mapa*/
    #map {
        height: 100%;
        width: 100%;
        max-width: 945px;
        max-height: 342px;
    }
    /*Tabla*/
    .ReactTable {
        height: 215px;
    }

    .menu1_symbol, .menu2_symbol, .menu3_symbol, .menu4_symbol, .menu8_symbol, .menu10_symbol, .menu11_symbol {
        width: inherit;
        justify-items: center;
        height: 100%;
        justify-content: space-between;
        padding-top: 0.5em;
    }
}

